<app-background-Image [backImgData]="dataService.landingData.aboutSection">

  <app-header-paragraph [headerText]="'Our Features'"
                        [paragraphText]="'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa at cumque sunt,
                                          repudiandae autem ratione voluptas magnam velit porro ipsa?'"
                        [headerPosition]="'center'"
                        [paragraphPosition]="'center'"
                        [paragraphWidth]="'70'"
                        [headerColor]="'#FEC400'"
                        [paragraphColor]="'#F1F1F1'"
  >
  </app-header-paragraph>

</app-background-Image>>


