


<section id="about" class="container py-5">
  <div class="row">
     <div class="col-md-12 text-center" >
        <img class="img-fluid" src="../../../assets/img/about.jpg" alt="">

        <div class="my-4">
          <app-header-paragraph [headerText]="'About  Our Company'"
                      [paragraphText]="'If you have a problem with your car, we\'ll quickly and effectively eliminate the problem, perform all work connected with the repair of your vehicle, efficiently and inexpensive. We are ready to provide you with a full range of services for warranty and post-warranty maintenance and repair of any car.'"
                      [headerPosition]="'center'"
                      [paragraphPosition]="'center'"
                      [paragraphWidth]="'70'" >
          </app-header-paragraph>
        </div>

     </div>



  </div>
</section>
