
  <div class="card bg-light mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <i style="color: #FEC400;" class="fa fa-globe my-4 fa-4x"></i>
        </div>
        <div class="col-md-9">

          <h4>Feature Title Here</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Quod cupiditate iusto harum esse illum at ea asperiores explicabo facilis est.
          </p>

        </div>

      </div>
    </div>
  </div>
