

<footer class=" text-lg-start">

  <div id="iq-footer" class="iq-banner-12 overview-block-pt blue-bg ">
    <div class="overlay py-5 ">
      <div class="container p-4">
        <div class="row">

          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <div class="logo">
              <img class="img-fluid logo_img" width="100px" src="../../../assets/img/logo.png" alt="#">

            </div>
          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Contact Info</h5>
              <p >
                <span style="color: #FEC400"><i class="fas fa-location-arrow"></i>
                </span>
                1324 mokkatem, Cairo
              </p>
              <p >
                <span style="color: #FEC400"><i class="fa fa-envelope"></i>
                </span>
                info@example.com
              </p>
              <p >
                <span style="color: #FEC400"><i class="fa fa-phone"></i>
                </span>
                +1234 567 567
              </p>

          </div>

          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">Home</a>
              </li>
              <li>
                <a href="#!" class="text-white">About</a>
              </li>
              <li>
                <a href="#!" class="text-white">Services</a>
              </li>
              <li>
                <a href="#!" class="text-white">Contact Us</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>




  <div class="text-center p-3" style="background-color: black; color: white;">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Override</a>
  </div>
</footer>
