<div class="py-5">

<h2 class="text-center py-5 display-5">poeple love numbers</h2>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4">
      <div class="circle">
        <p >650</p>
      </div>
      <h4 class="py-3 display-6">Users</h4>
    </div>

    <div class="col-md-4">
      <div class="circle">
        <p >50</p>
      </div>
      <h4 class="py-3 display-6">Vendors</h4>
    </div>

    <div class="col-md-4">
      <div class="circle">
        <p >5000</p>
      </div>
      <h4 class="py-3 display-6">Cars</h4>
    </div>
  </div>
</div>

</div>
