<div class="contact-form-section mt-5">

  <h4 style="color: #FEC400;">Contact Us</h4>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="my-4 contact-form" >
    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="name" placeholder="Name" >
    </div>

    <div class="form-group">
      <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="mobile" placeholder="Phone">
    </div>

    <div class="form-group">
      <textarea placeholder="Message" class="form-control" id="exampleFormControlTextarea1" formControlName="subject" rows="3"></textarea>
    </div>


    <button type="submit" class="btn px-5" [disabled]="!contactForm.valid" style="background-color: #FEC400;" >Submit</button>

  </form>


</div>


<!--
  <div class="contact-form-section my-5 p-2">

  <h3 class="mb-5" style="color: #FEC400;">Contact Us</h3>

  <form class="my-4 contact-form">
    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
    </div>

    <div class="form-group">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>

    <div class="form-group">
      <textarea placeholder="Message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    <button type="submit" class="btn px-5 py-2" style="background-color: #FEC400; ">Submit</button>

  </form>


</div>


-->
