<!-- SHOWCASE SLIDER -->
<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-sm-block text-center">
              <h1 class="display-3" >Download App</h1>
              <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                quod aliquid inventore vero perspiciatis.
              </p> -->

                <img src="../../../assets/img/google-play.png" class="mx-2" alt="Google Play">
                <img src="../../../assets/img/app-store.png" alt="App Store">

            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption  text-center d-sm-block ">
              <!-- <h1 class="display-3">Heading Two</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                quod aliquid inventore vero perspiciatis.</p> -->

                <h1 class="display-3" >Download App</h1>
              <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                quod aliquid inventore vero perspiciatis.
              </p> -->

                <img src="../../../assets/img/google-play.png" class="mx-2" alt="Google Play">
                <img src="../../../assets/img/app-store.png" alt="App Store">

            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-3">
          <div class="container">
            <div class="carousel-caption d-sm-block text-center ">

              <h1 class="display-3" >Download App</h1>
              <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                quod aliquid inventore vero perspiciatis.
              </p> -->

                <img src="../../../assets/img/google-play.png" class="mx-2" alt="Google Play">
                <img src="../../../assets/img/app-store.png" alt="App Store">

              <!-- <h1 class="display-3">Heading Three</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                quod aliquid inventore vero perspiciatis.</p> -->

            </div>
          </div>
        </div>
      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
</section>

<!--

<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" *ngFor="let carouselData of carouselData; let i = index" [data-slide-to]="i"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-sm-block text-center" *ngFor="let carouselItem of carouselData">
            <h1 class="display-3" >{{carouselItem.title}}</h1>
            <!-- <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
              quod aliquid inventore vero perspiciatis.
            </p> -->
<!--
              <span *ngFor="let content of carouselItem.content">
                <a [href]="content.href" class="nav-link d-inline">
                  <img [src]="content.img" width="140px" alt="content.altImg">
                </a>
              </span>



          </div>
        </div>
      </div>

    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

-->

